/*--------------------------------------------------------- Color stuff----------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*
#FAF7F0 - שמנת
#D8D2C2 - ב'ז כהה
#B17457 - אדום חום 
#4A4947 - חום כהה
#272727 - שחור אפרפר
#F5F5F5 - אפרפר עדין 
*/
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------------------------------------------- General stuff----------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font-family: rubik;
    color: #272727;
}

.headTitles {
    font-size: clamp(2.5rem, 8.725vw - 3.095rem, 7.375rem);
    color: #4A4947;
}

.seconderyTitles {
    font-size: clamp(1.375rem, 1.119vw + 0.658rem, 2rem);
}

.normalText {
    font-size: clamp(0.875rem, 0.224vw + 0.732rem, 1rem);
}

.anchorRef {
    position: absolute;
}

.firstBackground {
    --s: 1026px;
    /* control the size*/
    --c1: #FAF7F0;
    --c2: #D8D2C2;

    --c: var(--c1) 25%;
    background:
        conic-gradient(from -45deg at 75% 12.5%, var(--c), #0000 0),
        conic-gradient(from 135deg at 25% 87.5%, var(--c), #0000 0) 0 calc(var(--s)/2),
        conic-gradient(from 180deg at 50% 75%, #0000 62.5%, var(--c)),
        conic-gradient(at 50% 25%, #0000 62.5%, var(--c)) 0 calc(var(--s)/2) var(--c2);
    background-size: var(--s) calc(2*var(--s));
}

.seconderyBackground {
    --s: 2021px;
    /* control the size*/
    --c1: #fefdf9;
    --c2: #fffdf9c4;
    --c: var(--c2) 20% 30%;
    background:
        linear-gradient(135deg, #0000 20%, var(--c), #0000 0),
        repeating-linear-gradient(45deg, var(--c), var(--c1) 0 70%);
    background-size: var(--s) var(--s);
}

.thirdBackground {
    --s: 47px;
    /* control the size*/
    --c1: #FAF7F0;
    --c2: #e6ddc9b1;

    --c: #0000, var(--c1) .5deg 119.5deg, #0000 150deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425%/6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425%/6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175%/12), var(--c));
    background:
        var(--g1), var(--g1) var(--s) calc(1.73*var(--s)),
        var(--g2), var(--g2) var(--s) calc(1.73*var(--s)),
        var(--g3) var(--s) 0, var(--g3) 0 calc(1.73*var(--s)) var(--c2);
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
}






/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*------------------------------------------------------- Mobile Nav stuff---------------------------------------------------------------------- */

header#mobileNav {
    display: none;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- Desktop Nav stuff------------------------------------------------------------------- */

header#desktopNav {
    position: fixed;
    z-index: 5;
    right: 60px;
    top: 60px;

}

header#desktopNav nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    direction: rtl;
}

img[src$="menuDots.svg"] {
    height: 60px;
}

header#desktopNav nav ul {
    list-style-type: none;
    display: none;
}

header#desktopNav nav:hover ul#DsNav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

ul#DsNav li a {
    color: black;
    text-decoration: none;
    line-height: 1.5;
}

ul#DsNav li a:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.741);
    font-weight: bold;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- Main AREA stuff--------------------------------------------------------------------- */

.mainarea {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    padding-left: 150px;

}

.mainarea .anchorRef {
    top: 0px;
}


.mainarea p {
    width: 70%;
}

.mainarea .awesome {
    font-style: italic;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.644) 1px 0 6px;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- About Me AREA stuff----------------------------------------------------------------- */

.aboutme {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;
    direction: rtl;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.aboutme>* {
    margin: 8px 0px;
}

.aboutme .anchorRef {
    top: -150px;
}

.aboutme p {
    width: 30%;
    text-align: center;
    line-height: 2;
}

img[alt~="profile"] {
    height: 190px;
}

/* resume button stuff */

.resumeBtn {
    position: relative;
    z-index: 2;
    width: fit-content;
    background-color: #B17457;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all ease-in-out 1s;
}

.resumeBtn:hover {
    transform: scale(1.1);
}

.resumeBtn a {
    font-family: rubik;
    text-decoration: none;
    color: #272727;
    font-size: 1rem;
    font-weight: bold;
}

/* About me Svg's styling */

img[src="images/svg/gaming.svg"] {
    height: 80px;
    transform: translateY(-25px);
}

.hobbies {
    height: 80px;
    position: absolute;
}

img.hobbies[src="images/svg/basketball.svg"] {
    top: 100px;
    right: 300px;
    transform: rotate(340deg);
}

img.hobbies[src="images/svg/dumbbell.svg"] {
    bottom: 100px;
    right: 250px;
    transform: rotate(30deg);
}

img.hobbies[src="images/svg/headphones.svg"] {
    top: 100px;
    left: 250px;
}

img.hobbies[src="images/svg/movies.svg"] {
    bottom: 100px;
    left: 300px;
    transform: rotate(330deg);
}



/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- projects AREA stuff----------------------------------------------------------------- */

.myprojects {
    position: relative;
    z-index: 0;
    display: flex;
    height: fit-content;
    padding: 150px 100px;
    flex-direction: column;
}

.myprojects .anchorRef {
    top: 5vh;
}

/* Project Section Text Designs */
.myprojects .projTextArea {
    display: flex;
    flex-basis: 0;
    flex-grow: 3;
    direction: rtl;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myprojects .projTextArea h2 {
    line-height: 1;
}

.myprojects .projTextArea p {
    padding: 10px;
    width: 70%;
    line-height: 1.5;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*------------------------------------------------------- projects category selectors----------------------------------------------------------- */

.boxSelectors {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.boxButton {
    color: #4A4947;
    font-size: clamp(1rem, 1.79vw - 0.148rem, 2rem);
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    height: clamp(6.25rem, 8.929vw + 3.036rem, 13.75rem);
    width: clamp(6.25rem, 8.929vw + 3.036rem, 13.75rem);
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    transition: 1s ease-in-out all;
}

.boxButton:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.boxButton:active {
    transform: translateY(0);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.projectsDisplay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.selectorsRow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1px;
}

.selectorButton {
    color: #4A4947;
    font-size: clamp(1rem, 1.79vw - 0.148rem, 2rem);
    border: none;
    font-weight: bold;
    font-family: rubik;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .5);
}

.selectorButton.returnButton {
    height: 60px;
}

.returnButton {
    height: 40px;
    transform: scaleX(-1);
    filter: brightness(0) saturate(100%) invert(26%) sepia(8%) saturate(169%) hue-rotate(2deg) brightness(94%) contrast(86%);
}

.selectorButton:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, .5);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*----------------------------------------- projects Cards design And Structure----------------------------------------------------------------- */


.listofprojects {
    display: grid;
    padding: 0px 50px;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 4;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 15px;
    column-gap: 40px;
}


/* Project Card Design */
.projectexample {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
    border-radius: 10%;
    overflow: hidden;
    text-align: center;
    direction: rtl;
    transition: all ease-in-out 1s;
}

.projectexample:hover {
    transform: rotate(-1deg) scale(1.1);
}

img[src^="projectsImg/"] {
    width: 100%;
    height: auto;
}

/* Project Card info */
.projectexample .projectsinfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
}

/* Project Card tech logos */
.techUsed {
    width: 100%;
    display: flex;
    justify-content: center;
}

.techUsed img {
    height: 30px;
}

.projectexample .projectsinfo p {
    width: 80%;
}

/* Project Card Button */
.projbutton {
    background-color: #B17457;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .5);
    margin-bottom: 15px;
}

.projbutton a {
    text-decoration: none;
    color: #272727;
}

.projbutton:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, .5);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------- Contact AREA stuff----------------------------------------------------------------- */

.contactArea {
    position: relative;
    z-index: 1;
    height: 70vh;
    padding: 40px 100px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    direction: rtl;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.contactAreainfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-right: 50px;
    padding-bottom: 100px;
}

.contactAreainfo h2 {
    margin-bottom: 20px;
}


.formArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formArea .seconderyTitles {
    margin-top: 10px;
    text-align: center;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- FormStructure stuff----------------------------------------------------------------- */
.formBox {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .5);
    border-radius: 10%;
    margin: 20px 80px;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;

}

.formBox form {
    display: grid;
    grid-template-areas:
        'fullnameLabel phonenumberLabel'
        'fullnameInput phonenumberInput'
        'emailLabel emailLabel'
        'emailInput emailInput'
        'textareaLabel textareaLabel'
        'textareaInput textareaInput'
        'formButton formButton'
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    column-gap: 10px;
    row-gap: 5px;
}

.fullnameLabel {
    grid-area: fullnameLabel;
}

.phonenumberLabel {
    grid-area: phonenumberLabel;
}

.emailLabel {
    grid-area: emailLabel;
}

.textareaLabel {
    grid-area: textareaLabel;
}


.fullnameInput {
    grid-area: fullnameInput;
}

.phonenumberInput {
    grid-area: phonenumberInput;
}

.emailInput {
    grid-area: emailInput;
}

.textareaInput {
    grid-area: textareaInput;
}

.formButton {
    grid-area: formButton;
}



.formBox input,
.formBox textarea {
    width: 100%;
    margin-bottom: 5px;
    border: none;
    border-radius: 50px;
    background-color: #D8D2C24d;
    box-shadow: 0px 0px 6px 0px rgba(168, 166, 168, 0.75);
    font-family: Rubik;
    direction: rtl;
    padding-right: 6px;
    margin-bottom: 20px;
    height: 3rem;
}



.formBox textarea {
    border-radius: 20px;
    padding: 15px;
    line-height: 1rem;
    font-size: 0.9rem;
    align-items: left;
    text-wrap: balance;
    resize: none;
    height: 6rem;

}

.formBox input[type="submit"] {
    width: 100%;
    font-family: Rubik;
    background-color: #B17457;
    padding: 10px;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: all ease-in-out 1s;
}

.formBox input[type="submit"]:hover {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .5);
    transform: scale(1.05);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------- Footer stuff----------------------------------------------------------------- */

footer {
    position: relative;
    z-index: 0;
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 100px;
}

footer h3 {
    line-height: 50px;
    flex-basis: 0;
    flex-grow: 8;
    text-align: end;
}

footer .social {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 0;
    flex-grow: 2;
    padding: 7.5px 0px;
}

footer .social img[alt~="thumbnail"] {
    height: 35px;
}



/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*------------------------------------------------ media query mid size stuff------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1200px) {
    .aboutme {
        height: fit-content;
    }

    .hobbies {
        display: none;
    }

    .listofprojects {
        grid-template-columns: repeat(2, 1fr);
    }

    .projectexample {
        height: fit-content;
    }

    .projectexample>* {
        margin-bottom: 10px;
    }

    .projectexample .projectsinfo>* {
        margin-bottom: 15px;
    }

    /*----------------------------------------------------------------------------------------------------------------------------------------------- */
    /*------------------------------------------------------------ Contact AREA stuff---------------------------------------------------------------- */
    .contactArea {
        padding: 30px 150px;
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    .contactAreainfo {
        display: flex;
        padding: 0;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .contactAreainfo h2 {
        margin-bottom: 20px;
    }

    .contactAreainfo p {
        text-align: center;
    }

    .formArea {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .formArea .seconderyTitles {
        margin-top: 10px;
        text-align: center;
    }

    .formBox {
        display: flex;
        margin: 20px 30px;
    }


}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*------------------------------------------------ media query mid size stuff------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 992px) {
    .myprojects {
        flex-direction: column;
    }

    .contactArea {
        padding: 40px 60px;
    }

}


/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- media query stuff------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */


@media (max-width:576px) {

    .firstBackground {
        --s: 426px;
    }

    /*---------------------------------------------------------------------------------------------------------------------------------------- */
    /*------------------------------------------------------ nav header stuff---------------------------------------------------------------- */

    header#desktopNav {
        top: 20px;
        right: 20px;
    }

    img[src$="menuDots.svg"] {
        height: 40px;
    }

    header#desktopNav nav:hover ul#DsNav {
        flex-direction: row;
        padding-right: 10px;
        gap: 10px;
    }

    ul#DsNav li a {
        background-color: #D8D2C2;
        padding: 5px;
        border-radius: 8px;
        line-height: 2;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
    }

    /*---------------------------------------------------------------------------------------------------------------------------------------------- */
    /*--------------------------------------------------------- Main AREA stuff--------------------------------------------------------------------- */

    .mainarea {
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: center;
        padding-left: 20px;
    }

    .mainarea>* {
        margin-bottom: 10px;
    }


    /*---------------------------------------------------------------------------------------------------------------------------------------------- */
    /*--------------------------------------------------------- About Me AREA stuff----------------------------------------------------------------- */

    .aboutme {
        height: fit-content;
        padding: 50px 0px;
    }

    .aboutme p {
        width: 80%;
    }

    .aboutme .hobbies {
        display: none;
    }

    /*----------------------------------------------------------------------------------------------------------------------------------------------- */
    /*---------------------------------------------------------- projects AREA stuff---------------------------------------------------------------- */
    .myprojects {
        display: flex;
        height: fit-content;
        padding: 50px 0px;
        flex-direction: column;
    }

    .myprojects .anchorRef {
        top: -50px;
    }

    .projTextArea {
        display: flex;
        flex-basis: 0;
        direction: rtl;
        align-items: center;
        padding-right: 0;
    }

    .projTextArea p {
        text-align: center;
    }


    .listofprojects {
        display: grid;
        flex-basis: 100vw;
        padding: 20px 70px 50px 70px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .projectexample {
        height: fit-content;
        text-align: center;
    }

    .projectexample:hover {
        transform: none;
    }

    .projectexample .projectsinfo>* {
        margin: 10px 0px;
    }

    .projectsDisplay {
        gap: 0px;
    }

    .selectorButton {
        margin-bottom: 0px;
    }

    /*----------------------------------------------------------------------------------------------------------------------------------------------- */
    /*------------------------------------------------------------ Contact AREA stuff---------------------------------------------------------------- */
    .contactArea {
        padding: 30px 10px;
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    .contactAreainfo {
        display: flex;
        padding: 0;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .contactAreainfo h2 {
        margin-bottom: 20px;
    }

    .contactAreainfo p {
        text-align: center;
    }

    .formArea {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .formArea .seconderyTitles {
        margin-top: 10px;
        text-align: center;
    }

    .formBox {
        display: flex;
        margin: 20px 30px;
    }


    /*---------------------------------------------------------------------------------------------------------------------------------------------- */
    /*---------------------------------------------------------------- Footer stuff----------------------------------------------------------------- */
    footer {
        height: 60px;
        padding: 5px 30px;
    }

    footer div.social>* {
        margin: 0 10px;
    }

    footer div.social img[alt~="thumbnail"] {
        height: 25px;

    }
}