/*--------------------------------------------------------- Color stuff----------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*
#48CFCB - תכלת בהיר
#229799 - תכלת כהה
#272727 - שחור אפרפר
#F5F5F5 - אפרפר עדין 
*/
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------------------------------------------- General stuff----------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font-family: rubik;
    color: #272727;
}

.headTitles {
    font-size: clamp(2.5rem, 8.725vw - 3.095rem, 7.375rem);
}

.seconderyTitles {
    font-size: clamp(1.375rem, 1.119vw + 0.658rem, 2rem);
}

.normalText {
    font-size: clamp(0.875rem, 0.224vw + 0.732rem, 1rem);
}

.anchorRef {
    position: absolute;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*------------------------------------------------------- Mobile Nav stuff---------------------------------------------------------------------- */

header#mobileNav {
    display: none;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- Desktop Nav stuff------------------------------------------------------------------- */

header#desktopNav {
    position: fixed;
    z-index: 5;
    right: 60px;
    top: 60px;

}

header#desktopNav nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    direction: rtl;
}

img[src$="menuDots.svg"] {
    height: 40px;
}

header#desktopNav nav ul {
    list-style-type: none;
    display: none;
}

header#desktopNav nav:hover ul#DsNav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-right: 10px;

}

ul#DsNav li a {
    color: black;
    text-decoration: none;
    line-height: 1.5;
}

ul#DsNav li a:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.741);
    font-weight: bold;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- Main AREA stuff--------------------------------------------------------------------- */

div.mainarea {
    position: relative;
    z-index: 0px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 90vh;
    justify-content: space-evenly;
    background-color: #48CFCB;
}

div.mainarea .anchorRef {
    top: 0px;
}

div.mainarea div.mainareaText {
    margin-left: 150px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- About Me AREA stuff----------------------------------------------------------------- */

div.aboutme {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    height: 60vh;
    justify-content: center;
    text-align: center;
    background-color: #F5F5F5;
    direction: rtl;
}

div.aboutme>* {
    margin: 8px 0px;
}

.aboutme .anchorRef {
    top: -150px;
}

img[alt~="profile"] {
    height: 150px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- projects AREA stuff----------------------------------------------------------------- */

div.myprojects {
    position: relative;
    z-index: 0;
    display: flex;
    height: 100vh;
    padding: 50px 100px;
    flex-direction: row-reverse;
    background-color: #48CFCB;
}

.myprojects .anchorRef {
    top: 0px;
}

div.myprojects div.projTextArea {
    display: flex;
    flex-basis: 0;
    flex-grow: 3;
    direction: rtl;
    align-items: center;
}

div.myprojects div.projTextArea div {
    display: flex;
    flex-direction: column;
    margin-right: 50px;

}

div.myprojects div.projTextArea div h2 {
    line-height: 1;
}

div.myprojects div.projTextArea div p {
    padding: 10px;
    width: 70%;
    line-height: 1.5;
}


div.myprojects div.listofprojects {
    display: grid;
    padding: 0px 50px;
    flex-basis: 0;
    flex-grow: 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 40px;
}


div.myprojects div.listofprojects div.projectexample {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .5);
    border-radius: 10%;
    overflow: hidden;
    text-align: center;
    direction: rtl;
}

img[src^="projectsImg/"] {
    width: 100%;
}

div.myprojects div.listofprojects div.projectsinfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
}

.projbutton {
    background-color: #48CFCB;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .5);
}

.projbutton a {
    text-decoration: none;
    color: #272727;
}

.projbutton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .5);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------- Contact AREA stuff----------------------------------------------------------------- */

div.contactArea {
    position: relative;
    z-index: 0;
    height: 70vh;
    padding: 40px 100px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    background: #F5F5F5;
    direction: rtl;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
div.contactArea div.contactAreainfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-right: 50px;
    padding-bottom: 100px;
}

div.contactArea div.contactAreainfo h2 {
    margin-bottom: 20px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

div.contactArea div.formArea {
    display: flex;
    flex-direction: column;
}

div.contactArea div.formArea div.seconderyTitles {
    margin-top: 10px;
    text-align: center;
}

div.contactArea div.formArea div.formBox {
    flex-grow: 1;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .5);
    border-radius: 10%;
    margin: 20px 80px;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

div.contactArea div.formArea div.formBox form {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(7, 80px);
    grid-template-areas:
        'phonenumber fullname'
        'input-phonenumber input-fullname'
        'email email'
        'input-email input-email'
        'textarea textarea'
        'input-textarea input-textarea'
        'button button';
}

div.contactArea div.formArea div.formBox label[for="fullname"] {
    grid-area: "fullname";
}

div.contactArea div.formArea div.formBox label[for="phonenumber"] {
    grid-area: "phonenumber";
}

div.contactArea div.formArea div.formBox label[for="email"] {
    grid-area: "email";
}

div.contactArea div.formArea div.formBox label[for="messege"] {
    grid-area: "textarea";
}


div.contactArea div.formArea div.formBox input[id="fullname"] {
    grid-area: "input-fullname";
}

div.contactArea div.formArea div.formBox input[id="phonenumber"] {
    grid-area: "input-phonenumber";
}

div.contactArea div.formArea div.formBox input[id="email"] {
    grid-area: "input-email";
}




div.contactArea div.formArea div.formBox input,
div.contactArea div.formArea div.formBox textarea {
    width: 100%;
    margin-bottom: 5px;
    border: none;
    border-radius: 50px;
    background-color: #8cccca4d;
    box-shadow: 0px 0px 6px 0px rgba(168, 166, 168, 0.75);
    font-family: Rubik;
    direction: rtl;
    padding-right: 6px;
    margin-bottom: 20px;
}



div.contactArea div.formArea div.formBox textarea {
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    line-height: 1rem;
    font-size: 0.9rem;
    align-items: left;
    text-wrap: balance;
    resize: none;
    grid-area: "input-textarea";
}

div.contactArea div.formArea div.formBox input[type="submit"] {
    grid-area: "button";
    font-family: Rubik;
    background-color: #48CFCB;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .5);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------- Footer stuff----------------------------------------------------------------- */

footer {
    position: relative;
    z-index: 0;
    height: 70px;
    background-color: #48CFCB;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 100px;
}

footer h3 {
    line-height: 50px;
    flex-basis: 0;
    flex-grow: 8;
    text-align: end;
}

footer div.social {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 0;
    flex-grow: 2;
    padding: 7.5px 0px;
}

footer div.social img[alt~="thumbnail"] {
    height: 35px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- media query stuff------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */


@media (max-width:576px) {

    /*---------------------------------------------------------------------------------------------------------------------------------------- */
    /*------------------------------------------------------ nav header stuff---------------------------------------------------------------- */

    header#desktopNav {
        display: none;
    }

    header#mobileNav {
        display: flex;
    }

    header#mobileNav nav {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: #F5F5F5;
        border-bottom: 1px solid black;
    }

    header#mobileNav nav ul {
        list-style-type: none;
        display: flex;
    }

    header#mobileNav nav ul li a {
        padding: 0px 10px;
        color: black;
        text-decoration: none;
        line-height: 2;
        text-align: right;
        padding-right: 20px;
    }

    img[src="images/svg/hamburger.svg"] {
        height: 40px;
        padding-right: 30px;
    }


    header#mobileNav nav ul {
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked~ul#MbNav {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-right: 10px;
    }

    /*---------------------------------------------------------------------------------------------------------------------------------------------- */
    /*--------------------------------------------------------- Main AREA stuff--------------------------------------------------------------------- */

    div.mainarea {
        display: flex;
        flex-direction: column;
        height: 70vh;
        justify-content: space-evenly;
    }

    div.mainarea div.mainareaText {
        margin-left: auto;
        padding-left: 20px;
    }

    /*----------------------------------------------------------------------------------------------------------------------------------------------- */
    /*---------------------------------------------------------- projects AREA stuff---------------------------------------------------------------- */
    div.myprojects {
        display: flex;
        height: fit-content;
        padding: 50px 0px;
        flex-direction: column;
    }

    div.myprojects div.projTextArea {
        display: flex;
        flex-basis: 0;
        direction: rtl;
        align-items: center;
    }

    div.myprojects div.projTextArea div {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }

    div.myprojects div.listofprojects {
        display: grid;
        flex-basis: 100vw;
        padding: 50px 70px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    div.myprojects div.listofprojects div.projectexample {
        height: 270px;
        text-align: center;
    }

    /*----------------------------------------------------------------------------------------------------------------------------------------------- */
    /*------------------------------------------------------------ Contact AREA stuff---------------------------------------------------------------- */
    div.contactArea {
        padding: 30px 10px;
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    div.contactArea div.contactAreainfo {
        display: flex;
        padding: 0;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    div.contactArea div.contactAreainfo h2 {
        margin-bottom: 20px;
    }

    div.contactArea div.contactAreainfo p {
        text-align: center;
    }

    div.contactArea div.formArea {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    div.contactArea div.formArea div.seconderyTitles {
        margin-top: 10px;
        text-align: center;
    }

    div.contactArea div.formArea div.formBox {
        display: flex;
        margin: 20px 30px;

    }

    /*---------------------------------------------------------------------------------------------------------------------------------------------- */
    /*---------------------------------------------------------------- Footer stuff----------------------------------------------------------------- */
    footer {
        height: 60px;
        padding: 5px 30px;
    }

    footer div.social>* {
        margin: 0 10px;
    }

    footer div.social img[alt~="thumbnail"] {
        height: 25px;

    }
}