/*--------------------------------------------------------- Color stuff----------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*
#48CFCB - תכלת בהיר
#229799 - תכלת כהה
#272727 - שחור אפרפר
#F5F5F5 - אפרפר עדין 
*/
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------------------------------------------- General stuff----------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

body {
    font-family: rubik;
    color: #272727;
}

.headTitles {
    font-size: clamp(2.5rem, 8.725vw - 3.095rem, 7.375rem);
}

.seconderyTitles {
    font-size: clamp(1.375rem, 1.119vw + 0.658rem, 2rem);
}

.normalText {
    font-size: clamp(0.875rem, 0.224vw + 0.732rem, 1rem);
}

/*---------------------------------------------------------- Header stuff ---------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

header {
    z-index: 1;
    position: relative;
    height: 50px;
    background-color: #F5F5F5;
    padding: 0px 150px;
    box-shadow: 10px 0px 3px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
}

header>* {
    margin-left: 20px;
}

header h3 a {
    color: #272727;
    text-decoration: none;
}

header img {
    height: 40px;
}

/*--------------------------------------------------------- mainArea stuff --------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

.mainArea {
    z-index: 0;
    position: relative;
    height: 35vh;
    padding: 30px 100px;
    background-color: #48CFCB;
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}

.mainArea>* {
    margin-bottom: 20px;
}

.mainArea .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
}

.clickbutton {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: #229799;
    border-radius: 3%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    transition: all ease-in-out 1s;
}
.clickbutton:hover{
    transform: scale(1.1);
}

.clickbutton a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #1a006e;
}

/*------------------------------------------------------ Programs Showcase stuff --------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

.programsShowcase {
    z-index: 1;
    position: relative;
    height: 10vh;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.programsShowcase img[alt^="images/techIcons"] {
    height: fit-content;
}

/*------------------------------------------------------ Project Showcase stuff ---------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

.projectexample {
    z-index: 0;
    position: relative;
    display: flex;
    height: 80vh;
    padding: 50px 150px;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
}

.projectexample img {
    height: 100%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

/*--------------------------------------------------------- Footer stuff ----------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

footer {
    position: relative;
    z-index: 1;
    height: 30px;
    background-color: #48CFCB;
    box-shadow: 0px 0px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- media query stuff ------------------------------------------------------------------ */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */


@media (max-width:576px) {

header{
    padding: 0;
}

.mainArea{
    height: fit-content;
}

.mainArea h1{
    text-align: center;
}

.mainArea p{
    text-align: center;
}

.projectexample{
    padding: 20px 40px;
    height: fit-content;
}
.projectexample img{
    width: 100%;
    height: auto;
}

}