/*--------------------------------------------------------- General stuff ---------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Heebo;
}

.svgCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 95px;
    width: 95px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    padding: 25px;
    background-color: #0EE1E1;
}

img[src^="../../images/svg/"] {
    width: 100%;
    height: auto;
}

/*-------------------------------------------------------------- hero stuff -------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

.hero{
    position: relative;
    height: 50vh;
    background-color: #0EE1E1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.hero .svgCircle{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #FFFFFF;
}

.imgBox{
    padding-right: 10vw;
}
.imgBox img{
    height: 40%;
    width: auto;
}

.textArea{
    direction: rtl;
    padding-right: 7vw;
}

.textArea h1{
    font-size: clamp(2.063rem, 3.691vw - 0.305rem, 4.125rem);
    font-weight: 900;
    line-height: 97px;
}

.textArea p{
    font-size: clamp(0.938rem, 0.559vw + 0.579rem, 1.25rem);
    line-height: 29px;
    width: 70%;
}


/*---------------------------------------------------------- SquareList stuff ------------------------------------------------------------------ */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

.squareList{
    height: fit-content;
    padding: 5vh 1vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
}

.squareList .squareItem{
    background-color: #F8F8F8;
    height: 30vh;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.squareList .squareItem img{
    height: 44px;
    width: auto;
    margin-bottom: 30px;
}

.squareList .squareItem h3{
    color: #0EE1E1;
    font-size: clamp(1.375rem, 0.895vw + 0.801rem, 1.875rem);
    font-weight: 900;
    line-height: 44px;
}

.squareList .squareItem p{
    width: 70%;
    text-align: center;
    font-size: 0.938rem;
    line-height: 22px;
}

/*--------------------------------------------------------- FormBox stuff ---------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */



/*--------------------------------------------------------- Form Structure---------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

.formBox form {
    display: grid;
    grid-template-areas:
        "fullNameLabel ."
        "fullNameInput fullNameInput"
        "emailLabel ."
        "emailInput emailInput"
        "extraTextLabel ."
        "extraTextInput extraTextInput"
        "formButton formButton"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    row-gap: 5px;
    column-gap: 10px;
    text-align: right;
}

.fullNameLabel {
    grid-area: fullNameLabel;
}

.fullNameInput {
    grid-area: fullNameInput;
}

.emailLabel {
    grid-area: emailLabel;
}

.emailInput {
    grid-area: emailInput;
}

.extraTextLabel {
    grid-area: extraTextLabel;
}

.extraTextInput {
    grid-area: extraTextInput;
}

.formButton {
    grid-area: formButton;
}


/*--------------------------------------------------------- Contact Icon stuff ----------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */



/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------- media query stuff ------------------------------------------------------------------ */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */


@media (max-width:576px) {

/*------------------------------------------------------------ Structure stuff ----------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */



/*---------------------------------------------------------------- Image stuff ----------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */



/*----------------------------------------------------------------- Form stuff ----------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */



/*--------------------------------------------------------- Form Structure---------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */



/*--------------------------------------------------------- Contact Icon stuff ----------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------------------------------------- */

}